body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  background-image: url(https://static.vecteezy.com/system/resources//024/021/421/large_2x/world-blood-donor-day-creative-background-blood-donation-ai-generated-free-photo.jpg);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.blood-image {
  width: 200px;
  display: block;
  margin: 0 auto;
}

h1 {
  color: #d9534f;
  text-shadow: 2px 2px 2px blue;
}

form {
  text-align: left;
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #c9302c;
}
a.hover{
  text-decoration: line-through;
  color: magenta;
  
}